<h1>Find Me a Movie</h1>



<%= button_to "Click for New Suggestion", suggestions_path, class: "btn btn-default" %>

<hr>

<% if @suggestion.nil? %>
  I couldn't find anything, please try again or add some new favorite movies :)
  <br>
<% else %>
  <%= @suggestion["title"] %>
  (<%= @suggestion["year"] %>)
  <p>
    <%= image_tag(@suggestion["posters"]["original"]) %><br>
    <%= @suggestion["synopsis"] %>
  </p>
  <!-- like/dislike area -->
  <%= button_to "Like Movie", :id => @suggestion["id"], method: :post %>
  <br>
  <%= button_to "Dislike Movie", {:controller => :suggestions, :action => 'destroy', :id => @suggestion["id"] }, method: :delete %>


  <!--end of likes here -->
<% end %> 

