<!DOCTYPE html>
<html>
  <!--head -->
  <head>
    <title>FacebookApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <!-- body -->
  <body>
    <div class="container">

      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        


        <% if current_user %>
          <% if current_user.movies_liked.empty? %>
            <li><%= link_to "Find Me a Movie", movies_new_path %></li>
          <% else %>
            <li><%= link_to "Find Me a Movie", suggestions_path %></li>
          <% end %>
        <% end %>
        

        <% if current_user %>
          <li><%= link_to "My Movies", movies_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "Add Favorites", "/movies/new" %></li>
        <% end %>



        <div class="pull-right user-info">
          <% if current_user %>
            Hello, 
            <%= link_to edit_user_registration_path do %>
              <%= current_user.name || current_user.email %>
            <% end %>


            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>

          <% else %>
            <%= link_to "Sign In With Facebook", '/users/auth/facebook' %>
          <% end %>
        </div>
      </ul>


      <!--flash messages-->
       <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
      <!-- end of flash message area-->


      <%= yield %>
    </div>

  </body>


  <!-- end of html -->
</html>
