<!DOCTYPE html>
<html>
  <!--head -->
  <head>
    <title>FacebookApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <!-- body -->
  <body>
    <div class="container">

      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Privacy", '#' %></li>

        <div class="pull-right user-info">
          <% if current_user %>
            Hello <%= current_user.name %>

            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>

          <% else %>
            <%= link_to "Sign In With Facebook", new_user_session_path %>
          <% end %>
        </div>
      </ul>


      <!-- Area for Flash Notices -->
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>

        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
      <% end %>


      <%= yield %>
    </div>

  </body>


  <!-- end of html -->
</html>
